# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# dotenv
.env
.env.*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
test-results.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini


# Others
*.sqlite3
*.db
*.log